# Dépendances
/node_modules

# Fichiers de build
/dist

# Fichiers d'environnement et secrets
# Ne jamais partager les clés API !
.env
.env.*
!.env.example

# Fichiers temporaires de Supabase
supabase/.temp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers générés par l'OS ou les IDE
.DS_Store
.vscode/